boto==2.49.0
boto3==1.6.18
botocore==1.9.18
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
Django==1.11
django-crispy-forms==1.7.2
django-ses==0.8.7
django-storages==1.6.6
docutils==0.14
future==0.17.0
geoip2==0.1.0
html5lib==1.0.1
httplib2==0.11.3
idna==2.6
jmespath==0.9.3
Pillow
PyPDF2==1.26.0
python-dateutil==2.6.1
pytz==2018.3
reportlab==3.4.0
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
stripe==1.79.1
urllib3==1.22
webencodings==0.5.1
xhtml2pdf==0.2.2

