{% load static %}



  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for slide in home_slides %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ slide.get_id }}" class="active"></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for slide in home_slides %}
      <div class="carousel-item {{ slide.bootstrap_class_active }}">
        <img class="responsive-img" src="{{ slide.image.url }}" alt="Third slide">
        <!--{# <div class="carousel-caption d-none d-md-block"> #} d-none to hide captions  -->
        <div class="carousel-caption d-md-block">
          <h3>{{ slide.title }}</h3>
          <p>{{ slide.message }}</p>

        </div>
      </div>
      {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
