{% extends "base.html" %}

{% block content %}

<div class="col-sm-12">

<h1>Cart</h1>





{% if cart.products.exists %}



{% for obj in cart.cartitem_set.all %}

  {{ obj }}
  {{ obj.quantity }}
  {{ obj.get_price }}
  {{ obj.price }}

{% endfor %}

<table class="table cart-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody class="cart-body">


    {% for product in cart.products.all %}
    <tr class="cart-product">
      <th scope="row">{{ forloop.counter }}</th>
      <td>
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        {% include 'carts/snippets/remove-product.html' with product_id=product.id %}

      {{ cart.products.all }}
      {{ cart.cartitem_set.all }}
      {{ product.variation_set.first }}
      {{ product.variation_set.first.get_price }}
      {{ cart.cartitem_set.variation_set.first.quantity }}
      <h3>{{ cart.cartitem_set.all.first }}  {{ cart.cartitem_set.all.first.quantity }}</h3>


      </td>
      <td>{{ product.price }}</td>
      <td>
        <div class="cart-item-remove-form" style='display:none'>

        </div>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>Subtotal </b> &#8353;<span class="cart-subtotal"> {{ cart.subtotal }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Total </b> &#8353;<span class="cart-total">{{ cart.total }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td> <a class="btn btn-lg btn-success" href="#">Pagar</a> </td>
    </tr>
  </tbody>
</table>


{% else %}
  <p class="lead">Carrito compras vacio!</p>
{% endif%}

</div>
{% endblock %}
